/*!
 * fireshell
 * Fiercely quick and opinionated front-ends
 * http://getfireshell.com
 * @author Todd Motto
 * @version 1.1.0
 * Copyright 2013. MIT licensed.
 */

.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  background: #fff;
  color: #444;
}

/* Site Colour Scheme */
header.scrolled {
  background-color: #347ca0;
}

header {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  background: url("../img/London.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-color 700ms linear;
  -moz-transition: background-color 700ms linear;
  -o-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
}
header span {
  float: left;
  position: absolute;
  bottom: 2em;
  width: 0px;
  height: 0px;
  left: 50%;
  margin-left: -42px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}
header span:after {
  content: '';
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #347ca0 transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}
header a, header a:visited, header a:hover {
  font-size: 4em;
  font-weight: 500;
  margin: auto;
  padding: 0;
  color: #fc0;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 10000;
  text-shadow: 7px 7px 6px rgba(33, 33, 33, 0.8);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
header h2 {
  font-size: 3em;
  font-weight: 300;
  margin: auto;
  padding: 0;
  color: #f4f4f4;
  z-index: 10001;
  text-shadow: 7px 7px 6px rgba(33, 33, 33, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
header .wrap {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -75px;
  perspective: 800px;
  perspective-origin: 50% 100px;
}
header .cube {
  position: relative;
  width: 150px;
  transform-style: preserve-3d;
}
header .cube div {
  position: absolute;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 0.6em;
  background: url(../img/brick.png);
  border-radius: 20px;
}
header .cube div a, header .cube div a:visited, header .cube div a:hover {
  font-size: 4em;
  font-weight: 500;
  margin: auto;
  padding: 0;
  color: #fc0;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 999999999;
  text-shadow: none;
  -webkit-transform: none;
  transform: translate3d(-50%, -50%, 0);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}
header .back {
  transform: translateZ(-75px) rotateY(180deg);
}
header .right {
  transform: rotateY(-270deg) translateX(75px);
  transform-origin: top right;
}
header .left {
  transform: rotateY(270deg) translateX(-75px);
  transform-origin: center left;
}
header .top {
  transform: rotateX(-90deg) translateY(-75px);
  transform-origin: top center;
}
header .bottom {
  transform: rotateX(90deg) translateY(75px);
  transform-origin: bottom center;
}
header .front {
  transform: translateZ(75px);
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
header .cube {
  animation: spin 16s infinite linear;
}

nav.mainNav {
  background: #fff;
  clear: both;
  overflow: hidden;
  z-index: 9999;
  transition: all 0.5s ease;
}
nav.mainNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.mainNav ul li {
  float: left;
  display: block;
  height: 80px;
  width: 180px;
  position: static;
}
nav.mainNav ul li a {
  font-size: 2em;
  margin: 0;
  padding: 0 0.5em;
  line-height: 80px;
  display: block;
  height: 80px;
  width: 180px;
  position: static;
  text-align: center;
  text-decoration: none;
  color: #347ca0;
  font-weight: normal;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
nav.mainNav ul li a:hover {
  margin: 0;
  line-height: 80px;
  background: #eee;
  display: block;
  height: 80px;
  width: 180px;
  position: static;
  text-align: center;
  text-decoration: none;
  color: #347ca0;
  font-weight: normal;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

nav.isSmall {
  background: #fff;
  clear: both;
  overflow: hidden;
  z-index: 9999;
  transition: all 0.5s ease;
}
nav.isSmall ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.isSmall ul li {
  float: left;
  display: block;
  height: 40px !important;
  width: 90px;
  position: static;
}
nav.isSmall ul li a {
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 0.25em !important;
  line-height: 40px !important;
  display: block !important;
  height: 40px !important;
  width: 90px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
nav.isSmall ul li a:hover {
  margin: 0 !important;
  line-height: 40px !important;
  background: #eee !important;
  display: block !important;
  height: 40px !important;
  width: 90px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.nav ul {
  list-style: none;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  color: #fff;
  background: #fbfbfb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/*helper*/
.isFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.footer {
  background: #af1e26;
  height: 60px;
  line-height: 60px;
  color: #f4f4f4;
  padding-left: 1em;
}

.main .home, .main .learn, .main .play, .main .code,
.main .infoHome, .main .infoLearn, .main .infoPlay, .main .infoCode {
  display: none;
  width: 100%;
  min-height: 300px;
  padding: 1em 2em;
}
.main .home.grey-noise {
  background: url(../img/grey-noise.png);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}
.main h2 {
  color: #999999;
}
.main .infoHome, .main .infoLearn, .main .infoPlay, .main .infoCode {
  background: #695e4a;
}
.main .home, .main .infoHome {
  display: block;
}
.main .play .codeView {
  width: 73.5%;
  margin: 0 auto;
}

.ads {
  border: 2px solid #347ca0;
  position: relative;
  padding: 1.5em 0 0.5em 0;
  width: 73.5%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.ads ins.adsbygoogle {
  display: inline-block;
  width: 32%;
  height: 90px;
  margin: 0 auto;
}

.ads:before {
  content: "Ads";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 20px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  color: #f4f4f4;
  background: #347ca0;
  font-size: 0.8em;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-left-radius: 4px;
}

.learnBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.learnBox a .box, .learnBox a:hover .box {
  height: 300px;
  width: 400px;
  border: 2px solid red;
  margin-top: 1em;
}
.learnBox a .code, .learnBox a:hover .code {
  background: url("../img/code.png");
}

.info .infoHome, .info .infoLearn, .info .infoPlay, .info .infoCode {
  display: none;
  width: 100%;
  min-height: 300px;
  padding: 1em 2em;
  float: left;
  background: #695e4a;
}
.info .infoHome .infoLeft, .info .infoLearn .infoLeft, .info .infoPlay .infoLeft, .info .infoCode .infoLeft {
  padding: 6.7em 0 0 2em;
}
.info .infoHome .infoRight, .info .infoLearn .infoRight, .info .infoPlay .infoRight, .info .infoCode .infoRight {
  padding: 2em 2em 0 0;
}
.info .infoHome .infoRight, .info .infoHome .infoLeft, .info .infoLearn .infoRight, .info .infoLearn .infoLeft, .info .infoPlay .infoRight, .info .infoPlay .infoLeft, .info .infoCode .infoRight, .info .infoCode .infoLeft {
  width: calc(50% - 154.5px);
  float: left;
  box-sizing: border-box;
}
.info .infoHome .infoRight p, .info .infoHome .infoLeft p, .info .infoLearn .infoRight p, .info .infoLearn .infoLeft p, .info .infoPlay .infoRight p, .info .infoPlay .infoLeft p, .info .infoCode .infoRight p, .info .infoCode .infoLeft p {
  color: #cccccc;
  font-size: 1.2em;
}
.info .infoHome .infoRight h1, .info .infoHome .infoLeft h1, .info .infoLearn .infoRight h1, .info .infoLearn .infoLeft h1, .info .infoPlay .infoRight h1, .info .infoPlay .infoLeft h1, .info .infoCode .infoRight h1, .info .infoCode .infoLeft h1 {
  font-size: 3em;
  color: #fc0;
}
.info .infoHome .infoRight h2, .info .infoHome .infoLeft h2, .info .infoLearn .infoRight h2, .info .infoLearn .infoLeft h2, .info .infoPlay .infoRight h2, .info .infoPlay .infoLeft h2, .info .infoCode .infoRight h2, .info .infoCode .infoLeft h2 {
  color: #f4f4f4;
  padding: 0;
  margin: 0.5em 0;
  font-size: 1.5em;
}
.info .infoHome .infoRight ul, .info .infoHome .infoLeft ul, .info .infoLearn .infoRight ul, .info .infoLearn .infoLeft ul, .info .infoPlay .infoRight ul, .info .infoPlay .infoLeft ul, .info .infoCode .infoRight ul, .info .infoCode .infoLeft ul {
  overflow: hidden;
}
.info .infoHome .infoRight ul li, .info .infoHome .infoLeft ul li, .info .infoLearn .infoRight ul li, .info .infoLearn .infoLeft ul li, .info .infoPlay .infoRight ul li, .info .infoPlay .infoLeft ul li, .info .infoCode .infoRight ul li, .info .infoCode .infoLeft ul li {
  color: #cccccc;
  font-size: 1.25em;
}
.info .infoHome .infoRight ul li a, .info .infoHome .infoRight ul li a:hover, .info .infoHome .infoLeft ul li a, .info .infoHome .infoLeft ul li a:hover, .info .infoLearn .infoRight ul li a, .info .infoLearn .infoRight ul li a:hover, .info .infoLearn .infoLeft ul li a, .info .infoLearn .infoLeft ul li a:hover, .info .infoPlay .infoRight ul li a, .info .infoPlay .infoRight ul li a:hover, .info .infoPlay .infoLeft ul li a, .info .infoPlay .infoLeft ul li a:hover, .info .infoCode .infoRight ul li a, .info .infoCode .infoRight ul li a:hover, .info .infoCode .infoLeft ul li a, .info .infoCode .infoLeft ul li a:hover {
  color: #f4f4f4;
  font-size: 1em;
  text-decoration: none !important;
  border-bottom: 1px dotted #f4f4f4;
}
.info .infoHome .infoRight ol, .info .infoHome .infoLeft ol, .info .infoLearn .infoRight ol, .info .infoLearn .infoLeft ol, .info .infoPlay .infoRight ol, .info .infoPlay .infoLeft ol, .info .infoCode .infoRight ol, .info .infoCode .infoLeft ol {
  color: #cccccc;
  list-style-position: inside;
  padding: 0;
  font-size: 1.1em;
}
.info .infoHome .infoRight a, .info .infoHome .infoLeft a, .info .infoLearn .infoRight a, .info .infoLearn .infoLeft a, .info .infoPlay .infoRight a, .info .infoPlay .infoLeft a, .info .infoCode .infoRight a, .info .infoCode .infoLeft a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.2em;
  border-bottom: 1px dotted #f4f4f4;
}
.info .infoHome .infoRight .stars, .info .infoHome .infoLeft .stars, .info .infoLearn .infoRight .stars, .info .infoLearn .infoLeft .stars, .info .infoPlay .infoRight .stars, .info .infoPlay .infoLeft .stars, .info .infoCode .infoRight .stars, .info .infoCode .infoLeft .stars {
  color: yellow;
  font-size: 1.2em;
}
.info .infoHome .infoPic, .info .infoLearn .infoPic, .info .infoPlay .infoPic, .info .infoCode .infoPic {
  float: left;
  background: url("../img/tim.jpg");
  background-size: cover;
  margin: 2em;
  height: 250px;
  width: 250px;
  clear: both;
}
.info .infoHome {
  display: block;
}

.footer {
  background: #af1e26;
  height: 60px;
  line-height: 60px;
  color: #f4f4f4;
  padding-left: 1em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header a {
    font-size: 3.5em;
  }

  .header h2 {
    font-size: 1.75em;
    width: 70%;
  }

  /* Nav */
  nav ul li a {
    font-size: 2em;
  }

  /* Home */
  .info .infoHome .infoPic, .info .infoLearn .infoPic,
  .info .infoPlay .infoPic, .info .infoCode .infoPic {
    display: none;
  }

  .info .infoHome .infoRight, .info .infoHome .infoLeft,
  .info .infoLearn .infoRight, .info .infoLearn .infoLeft,
  .info .infoPlay .infoRight, .info .infoPlay .infoLeft,
  .info .infoCode .infoRight, .info .infoCode .infoLeft {
    width: 100%;
    float: left;
  }

  #products {
    width: 90%;
    margin: 0 auto;
  }
  #products li {
    width: 100%;
  }

  /* Resume */
  .resume #full .job, .resume #contract .job, .resume #edu .job, .resume #exp .job {
    width: 95%;
    padding: 0.5em;
  }

  .resume #full .job h1, .resume #contract .job h1, .resume #edu .job h1, .resume #exp .job h1 {
    font-size: 1.75em;
  }

  .resume #full .job h2, .resume #contract .job h2, .resume #edu .job h2, .resume #exp .job h2 {
    font-size: 1em;
  }

  .resume #full .job ul, .resume #contract .job ul, .resume #edu .job ul, .resume #exp .job ul {
    font-size: 1em;
  }

  .resume .resume-header nav ul li a, .resume .resume-header nav ul li a:visited {
    font-size: 1em;
    height: 25px;
    line-height: 25px;
    width: 49%;
  }

  .resume .resume-header {
    height: 500px;
  }

  .resume .resume-header nav ul li {
    height: 25px;
    width: 49%;
  }

  .resume .resume-header .left {
    width: 98%;
    padding: 4em 0 0 0;
  }

  .resume .resume-header .left h1 {
    font-size: 2em;
  }

  .resume .resume-header .left h2 {
    font-size: 1.5em;
  }

  .resume .resume-header .left p {
    width: 80%;
    min-width: 80%;
    font-size: 1em;
  }

  .resume .resume-header .right i {
    margin: 1em;
    margin: 0;
  }

  .resume .resume-header .right h3 a {
    font-size: 0.8em;
    float: none;
  }

  .resume .resume-header .right {
    padding: 0;
  }

  .resume #full .divider a.name, .resume #contract .divider a.name, .resume #edu .divider a.name, .resume #exp .divider a.name {
    letter-spacing: 0.2em;
  }

  .resume #full .job, .resume #full .education, .resume #contract .job, .resume #contract .education, .resume #edu .job, .resume #edu .education, .resume #exp .job, .resume #exp .education {
    width: 99%;
  }
}
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .header a {
    font-size: 3.5em;
  }

  .header h2 {
    font-size: 2em;
  }

  /* Nav */
  nav ul li a {
    font-size: 2em;
  }

  /* Home */
  .info .infoHome .infoPic, .info .infoLearn .infoPic,
  .info .infoPlay .infoPic, .info .infoCode .infoPic {
    display: none;
  }

  .info .infoHome .infoRight, .info .infoHome .infoLeft,
  .info .infoLearn .infoRight, .info .infoLearn .infoLeft,
  .info .infoPlay .infoRight, .info .infoPlay .infoLeft,
  .info .infoCode .infoRight, .info .infoCode .infoLeft {
    width: 100%;
    float: right;
    line-height: 40px;
  }

  #products {
    width: 90%;
    margin: 0 auto;
  }
  #products li {
    width: 100%;
  }

  /* Resume */
  .resume #full .job, .resume #contract .job, .resume #edu .job, .resume #exp .job {
    width: 95%;
    padding: 0.5em;
  }

  .resume #full .job h1, .resume #contract .job h1, .resume #edu .job h1, .resume #exp .job h1 {
    font-size: 1.75em;
  }

  .resume #full .job h2, .resume #contract .job h2, .resume #edu .job h2, .resume #exp .job h2 {
    font-size: 1em;
  }

  .resume #full .job ul, .resume #contract .job ul, .resume #edu .job ul, .resume #exp .job ul {
    font-size: 1em;
  }

  .resume .resume-header nav ul li a, .resume .resume-header nav ul li a:visited {
    font-size: 1em;
    height: 25px;
    line-height: 25px;
    width: 49%;
  }

  .resume .resume-header nav ul li {
    height: 25px;
    width: 49%;
  }

  .resume .resume-header {
    height: 500px;
  }

  .resume .resume-header nav ul li {
    height: 25px;
    width: 49%;
  }

  .resume .resume-header .left,
  .resume .resume-header .right {
    width: 98%;
    padding: 5em 0 0 0;
  }

  .resume .resume-header .left h1 {
    font-size: 2em;
  }

  .resume .resume-header .left h2 {
    font-size: 1.5em;
  }

  .resume .resume-header .left p {
    width: 80%;
    min-width: 80%;
    font-size: 1em;
  }

  .resume .resume-header .right i {
    margin: 1em;
    margin: 0;
  }

  .resume .resume-header .right h3 a {
    font-size: 0.8em;
    float: none;
  }

  .resume .resume-header .right {
    padding: 0;
  }

  .resume #full .divider a.name, .resume #contract .divider a.name, .resume #edu .divider a.name, .resume #exp .divider a.name {
    letter-spacing: 0.2em;
  }

  .resume #full .job, .resume #full .education, .resume #contract .job, .resume #contract .education, .resume #edu .job, .resume #edu .education, .resume #exp .job, .resume #exp .education {
    width: 99%;
  }

  .resume #full .job h1, .resume #full .education h1, .resume #contract .job h1, .resume #contract .education h1, .resume #edu .job h1, .resume #edu .education h1, .resume #exp .job h1, .resume #exp .education h1 {
    font-size: 1.5em;
  }

  .resume #full .job, .resume #full .education, .resume #contract .job, .resume #contract .education, .resume #edu .job, .resume #edu .education, .resume #exp .job, .resume #exp .education {
    width: 100%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .resume .resume-header .left {
    width: 69.5%;
  }

  .resume .resume-header .left h1 {
    font-size: 3.5em;
  }

  .resume .resume-header .left h2 {
    font-size: 2.5em;
    position: static;
    transform: none;
    -webkit-transform: none;
  }

  .resume .resume-header .left p {
    display: block;
    padding: 0.5em 0;
    font-size: 1.25em;
    width: 500px;
    min-width: 300px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
.resume {
  width: 100%;
  display: block;
  background: #f4f4f4;
}
.resume #full .job, .resume #full .education, .resume #contract .job, .resume #contract .education, .resume #edu .job, .resume #edu .education, .resume #exp .job, .resume #exp .education {
  float: left;
  width: 48%;
  margin: 1em;
  padding: 1em;
}
.resume #full .job h1, .resume #full .education h1, .resume #contract .job h1, .resume #contract .education h1, .resume #edu .job h1, .resume #edu .education h1, .resume #exp .job h1, .resume #exp .education h1 {
  color: #347ca0;
  font-size: 2em;
  margin: 0 0 0.25em 0;
}
.resume #full .job h2, .resume #full .education h2, .resume #contract .job h2, .resume #contract .education h2, .resume #edu .job h2, .resume #edu .education h2, .resume #exp .job h2, .resume #exp .education h2 {
  color: #999999;
  font-size: 1.5em;
  margin: 0 0 0.15em 0;
}
.resume #full .job ul, .resume #full .education ul, .resume #contract .job ul, .resume #contract .education ul, .resume #edu .job ul, .resume #edu .education ul, .resume #exp .job ul, .resume #exp .education ul {
  color: #695e4a;
  list-style-position: outside;
}
.resume #full .job ul li ul, .resume #full .education ul li ul, .resume #contract .job ul li ul, .resume #contract .education ul li ul, .resume #edu .job ul li ul, .resume #edu .education ul li ul, .resume #exp .job ul li ul, .resume #exp .education ul li ul {
  list-style-type: none;
}
.resume #full .skill, .resume #contract .skill, .resume #edu .skill, .resume #exp .skill {
  float: left;
  width: 24%;
  min-width: 300px;
  background: rgba(52, 124, 160, 0.5);
  margin: 5px;
  padding: 1em;
  position: relative;
}
.resume #full .skill img, .resume #contract .skill img, .resume #edu .skill img, .resume #exp .skill img {
  margin: 0 auto;
  width: 30px;
}
.resume #full .skill .years, .resume #contract .skill .years, .resume #edu .skill .years, .resume #exp .skill .years {
  position: absolute;
  top: 43px;
  left: 4.5em;
  font-size: 0.8em;
  color: #fff;
}
.resume #full .skill .left, .resume #full .skill .right, .resume #contract .skill .left, .resume #contract .skill .right, .resume #edu .skill .left, .resume #edu .skill .right, .resume #exp .skill .left, .resume #exp .skill .right {
  width: 49.9%;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 1.25em;
  color: #fff;
}
.resume #full .skill .left i, .resume #full .skill .right i, .resume #contract .skill .left i, .resume #contract .skill .right i, .resume #edu .skill .left i, .resume #edu .skill .right i, .resume #exp .skill .left i, .resume #exp .skill .right i {
  font-size: 0.8em;
  color: #af1e26;
}
.resume #full .divider, .resume #contract .divider, .resume #edu .divider, .resume #exp .divider {
  position: relative;
  text-align: center;
  line-height: 1.2;
  margin: 50px 0 10px;
}
.resume #full .divider::before, .resume #contract .divider::before, .resume #edu .divider::before, .resume #exp .divider::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  width: 100%;
  border-top: 1px solid #999999;
}
.resume #full .divider a, .resume #contract .divider a, .resume #edu .divider a, .resume #exp .divider a {
  text-decoration: none;
}
.resume #full .divider a.name, .resume #contract .divider a.name, .resume #edu .divider a.name, .resume #exp .divider a.name {
  display: inline-block;
  border: 1px solid #999999;
  background: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 8px 2px 12px;
  letter-spacing: .3em;
  color: #347ca0;
  color: #347ca0;
  font-size: 1.5em;
  position: relative;
}
.resume #full .divider a.name:hover, .resume #contract .divider a.name:hover, .resume #edu .divider a.name:hover, .resume #exp .divider a.name:hover {
  border-color: #695e4a;
  color: #347ca0;
  font-size: 1.5em;
}
.resume #full .divider a.name:active, .resume #contract .divider a.name:active, .resume #edu .divider a.name:active, .resume #exp .divider a.name:active {
  outline: 0;
}
.resume .resume-header {
  background: #347ca0;
  margin-top: 80px;
  padding: 1em;
  height: 220px;
}
.resume .resume-header .resume-nav {
  background: #fff;
  clear: both;
  overflow: hidden;
  z-index: 9999;
  transition: all 0.5s ease;
}
.resume .resume-header .resume-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.resume .resume-header .resume-nav ul li {
  float: left;
  display: block;
  height: 80px;
  width: 180px;
  position: static;
}
.resume .resume-header .resume-nav ul li a {
  font-size: 28px !important;
  margin: 0 !important;
  padding: 0 0.5em !important;
  line-height: 80px !important;
  display: block !important;
  height: 80px !important;
  width: 180px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.resume .resume-header .resume-nav ul li a:hover {
  margin: 0 !important;
  line-height: 80px !important;
  background: #eee !important;
  display: block !important;
  height: 80px !important;
  width: 180px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.resume .resume-header nav.isSmall {
  background: #fff;
  clear: both;
  overflow: hidden;
  z-index: 9999;
  transition: all 0.5s ease;
}
.resume .resume-header nav.isSmall ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.resume .resume-header nav.isSmall ul li {
  float: left;
  display: block;
  height: 40px !important;
  width: 90px;
  position: static;
}
.resume .resume-header nav.isSmall ul li a {
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 0.25em !important;
  line-height: 40px !important;
  display: block !important;
  height: 40px !important;
  width: 90px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.resume .resume-header nav.isSmall ul li a:hover {
  margin: 0 !important;
  line-height: 40px !important;
  background: #eee !important;
  display: block !important;
  height: 40px !important;
  width: 90px !important;
  position: static !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #347ca0 !important;
  font-weight: normal !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.resume .resume-header .left {
  width: 69.5%;
  float: left;
  padding-top: 0;
}
.resume .resume-header .left h1 {
  font-size: 3.5em;
  color: #f4f4f4;
  margin-top: 0;
  padding-top: 0;
}
.resume .resume-header .left h2 {
  font-size: 2.5em;
  color: #cccccc;
  position: static;
  transform: none;
  -webkit-transform: none;
}
.resume .resume-header .left p {
  display: block;
  color: #f4f4f4;
  padding: 0.5em 0;
  font-size: 1.25em;
  width: 500px;
  min-width: 300px;
}
.resume .resume-header .right {
  width: 29.5%;
  float: left;
  padding-top: 10px;
}
.resume .resume-header .right h3:first-child {
  margin-top: 1em;
  padding-right: 2em;
}
.resume .resume-header .right h3 {
  margin: 0;
  padding-top: 1em;
  display: block;
  width: 100%;
  float: right;
  text-align: right;
  font-size: 25px;
  position: static;
  color: #f4f4f4;
  padding: 0 2em 0.5em 0;
  position: relative;
}
.resume .resume-header .right h3 a {
  text-align: right;
  position: static;
  color: #f4f4f4;
  font-size: 25px;
  border-bottom: 1px #f4f4f4 dotted;
}
.resume .resume-header .right h3 i {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -12.5px;
}

.tagline {
  float: right;
  color: #666;
  font-size: 14px;
  padding-top: 3.5em;
}

#products {
  margin: 0 auto;
  width: 75%;
}
#products span {
  display: block;
  height: 100%;
}

#products ul {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  box-sizing: border-box;
}

#products li {
  float: left;
  max-width: 31.2%;
  min-width: 225px;
  margin: 1% 1%;
  display: block;
  box-sizing: border-box;
}

#products li.desc {
  width: 100%  !important;
  min-width: 100%  !important;
}

.product-image {
  margin: 0 auto 1em auto;
  background: #000;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 999999%;
}

.product-description {
  padding: 1em;
  background: #347ca0;
  color: #fff;
  border-radius: 5px;
  min-height: 530px;
  position: relative;
}
.product-description p, .product-description ul, .product-description li {
  padding: 0 1em;
  display: block !important;
  width: 100% !important;
}
.product-description ul {
  margin-top: -10px;
}
.product-description a, .product-description a:hover {
  color: #f4f4f4;
  text-decoration: none !important;
  border-bottom: 1px dotted #f4f4f4;
}

.red {
  background: #af1e26;
}

.product-name {
  text-align: center;
  color: #fc0;
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
  padding-bottom: 0.2em;
  border-bottom: 1px dotted #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-price {
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto;
  color: #fc0;
  line-height: 20px;
  position: absolute;
  bottom: 4em;
  left: 50%;
  margin-left: -50%;
  display: block;
}

form.add-to-cart {
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -60px;
}

form.add-to-cart div,
form.add-to-cart p {
  text-align: center;
}

form input.qty {
  width: 50px;
  height: 30px;
  border: 1px solid #f4f4f4;
  background: #fff;
  color: #000;
  border-radius: 3px;
  margin-left: 0.5em;
}

.btn, a.btn {
  display: inline-block;
  background: #cc1400;
  color: #fff;
  margin-top: 0.5em;
  padding: 0.3em 1em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #a00;
}

#site-info {
  height: 3em;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: #cc8500;
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
}

body#checkout-page #site-info {
  position: static;
}

#shopping-cart {
  margin: 1.5em 0;
}

.shopping-cart {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.shopping-cart th {
  font-size: 1.3em;
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

.shopping-cart td {
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
  background: #fafafa;
}

#shopping-cart-actions {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#shopping-cart-actions li {
  display: inline-block;
  margin-right: 1em;
}

#pricing {
  padding: 0.5em;
  margin: 1em 0;
  background: #fafafa;
}

#sub-total, #shipping {
  margin: 1.5em 0;
  text-align: right;
}

#sub-total span,
#shipping span {
  margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
  margin: 1em 0;
}

#checkout-order-form {
  margin: 1.5em 0;
}

#checkout-order-form fieldset {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div {
  margin-bottom: 1em;
}

#checkout-order-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"] {
  width: 200px;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.3em;
}

#checkout-order-form select {
  width: 200px;
  display: block;
}

.message {
  display: block;
  margin: 0.5em 0;
  color: red;
}

#user-details {
  margin: 1.5em 0;
}

#user-details > h2 {
  text-align: center;
  font-size: 2em;
}

#user-details-content {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

#user-details-content .detail {
  float: left;
  width: 46%;
}

#user-details-content .detail.right {
  float: right;
}

#user-details-content .detail > h2 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

#user-details-content ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#user-details-content li {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#paypal-form {
  margin: 1.5em 0;
}

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=style.unprefixed.css.map */
